.layout {
    $layout-background: #eeeeee; 
    $layout-item-padding: 12px;

    display: grid;
    height: 100vh;
    background:  $layout-background;
    grid-template-areas:
        'header header header header'
        'menu main main main'
        'footer footer footer footer';
    grid-template-rows:  auto 1fr auto;

    &__header {
        grid-area: header;
    }

    &__menu {
        grid-area: menu;
    }

    &__main {
        grid-area: main;
        position: relative;
    }

    &__footer {
        grid-area: footer;
    }

    & > div {
        padding:  $layout-item-padding;
    }
}