.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    &__item {
        flex-grow: 1;
        margin-bottom: 15px;
        margin-left: 7px;
        margin-right: 7px;
    }
    
    &__heading {
        width: 100%;
        text-align: center;
    }
}